<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="To Do List">
    <meta name="author" content="Julian Marinov">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Todolist</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {% if app.user != null %}
                <li><a href="/todos/create">Create ToDo</a></li>
                    <li><a href="/todos/archived">Archived ToDos</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav" style="float:right">
                {% if app.user == null %}
                <li class=""><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                {% endif %}
                {% if app.user != null %}
                <li><a href="/logout">Logout</a></li>
                {% endif %}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br><br><br>
            {% for flash_message in app.session.flashbag.get('notice') %}
                <div class="alert alert-success">{{flash_message}}</div>
            {% endfor %}

            {% for flash_message in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{flash_message}}</div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
    </div>
</div><!-- /.container -->
{% block javascripts %}{% endblock %}
</body>
</html>
