{% extends 'base.html.twig' %}

{% block body %}
    </br></br></br>
    <a href="/" class="btn btn-default">Back to Todos</a>
    <h2 class="page-header">{{todo.title}}</h2>
    <ul class="list-group">
        <li class="list-group-item">Status :
            {% if todo.status == 0 %}
                Closed
            {% elseif todo.status == 1 %}
                Open
            {% elseif todo.status == 2 %}
                Complete
            {% endif %}
        </li>
        <li class="list-group-item">Category : {{todo.category}}</li>
        <li class="list-group-item">Description : {{todo.description}}</li>
        <li class="list-group-item">Due: {{todo.duedate | date('F j, Y, g:i a')}}</li>
    </ul>

{% endblock %}

