{% extends 'base.html.twig' %}

{% block body %}
    </br></br></br></br>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Status</th>
            <th>ToDo</th>
            <th>Assigned Date</th>
            <th>Due Date</th>
    {% if app.user != null %}
            <th>Actions</th>
    {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td scope=row>{{ loop.index }}</td>
                <td>
                {% if todo.status == 0 %}
                    Closed
                {% elseif todo.status == 1 %}
                    Open
                {% elseif todo.status == 2 %}
                    Complete
                {% endif %}
                 </td>
                <td>{{todo.title}}</td>
                <td>{{todo.createDate | date('F j, Y, g:i a')}}</td>
                <td>{{todo.duedate | date('F j, Y, g:i a')}}</td>
            {% if app.user != null %}
                <td>
                    <a href="/todos/details/{{todo.id}}" class="btn btn-success">View</a>
                    <a href="/todos/edit/{{todo.id}}" class="btn btn-default">Edit</a>
                    <a href="/todos/delete/{{todo.id}}" class="btn btn-danger">Delete</a>
                </td>
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}